{% extends "base.html" %}

{% block content %}
    <h1>New Post</h1>
    <form method='post' action='/redirect'>
        <label>
            Title: <br>
            <br>
            <input type="text" name='slug' />
            <span class="error">{{ error1 }}</span>
        </label><br><br><br>
        <label>
            Body:<br>
            <br>
            <input type="textarea" name='body' />
            <span class="error">{{ error2 }}</span>
        </label><br><br><br>
        <input type="submit" value='Add Post' />
    </form>

    <hr />

{% endblock %}
